body{
    background: url('../Img/hojas.jpg');
    background-attachment: fixed;
}
#logo{
 background: #235e3d;
      }
      nav ul li:hover{
        background: #235e3d;
    }
    .button-more{
       background: #235e3d;

    }
    nav{
        background: #03250d;
    
    }